html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#header {
    background-color: red;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

#header .header_logo a {
    text-decoration: none;
}

#header .header_logo img {
    width: 200px;
    height: auto;
}

#header .header_logo p {
    color: black; 
    padding-left: 75px;
}

#header .header_menu ul {
    display: flex;
    list-style: none;
}
#header .header_menu ul li a {
    display: flex;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}


#main {
    background-color: rgb(14, 14, 15);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* height: 500px; */
    
}

.main_background {
    
    background-image: url(../imagenes/Teatro-Incandescente-1-1024x683.jpg);

}


#main h1 {
    color: beige;
    padding: 10px;
    margin: 20px;
}


#main .main_div {
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}


#main .main_parrafo {
    color: white;
    margin-bottom: 20px;
}

#main .main_div img {

    padding: 20px;
    margin: 20px;
}


#main .nav_flex-container {
    /* background-color: purple ; */
    /* height: 100vh;  */
    padding: 10px;
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
    flex-direction: column ;
    justify-content: center; 
    align-items: flex-start; 
    align-content: center ;
}   
#main .flex-item {
/* background-color: black; */
display: flex;
color: white;
/* width: 250px; */
text-align: center;
flex-direction: row;
gap: 100px;
}


#main .flex-item img {
    width: 250px;
    height:200px;
    border: 1px solid rgb(148, 87, 12); 
    
}

#main .scale:hover {
    transform: scale(1.5,1)
}

#main .nav-h2{
    margin: 20px;
}

#main .nav-parrafo {
    margin: 60px;
    
}



#main .main_form {
    display: flex;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em; 
   color: white;
}

#main .form_ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main .form_li {
    margin-top: 1em;
}

#main .form_label {
    display: inline-block;
    width: 90px;
    text-align: center;
  }
  
  #main .form_campo {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  #main .form_campo:focus {
    border-color: #000;
  }
  
  #main .form_texto {
    vertical-align: top;
    height: 5em;
  }
  
  #main .button {
    padding-left: 80px;
    list-style: none; 
    margin: 1em;
    
}




#section .section_div {
    /* background-color: red; */
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
}

#section .section_lista {
    display: flex;
    list-style: none;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

#section .section_lista li {
    padding: 10px;
    margin: 10px;
}

#section .section_link {
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

#section .section_p {
    color: black;
    text-decoration: none;
    margin-top: 15px;
}


#footer {
    background-color: red;
}
#footer a{
    text-decoration: none;
}
#footer p {
    color: black;
    text-align: end;
}