html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



#main {
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* height: 500px; */
    
}

.main_background {
    
    background-image: url(../imagenes/Teatro-Incandescente-1-1024x683.jpg);

}


#main h1 {
    color: beige;
    padding: 10px;
    margin: 20px;
}


#main .main_div {
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}


#main .main_parrafo {
    color: white;
    margin-bottom: 20px;
}

#main .main_div img {

    padding: 20px;
    margin: 20px;
}


#main .nav_flex-container {
    
    padding: 10px;
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
    flex-direction: column ;
    justify-content: center; 
    align-items: flex-start; 
    align-content: center ;
}   
#main .flex-item {
display: flex;
color: white;
text-align: center;
flex-direction: row;
gap: 100px;
}


#main .flex-item img {
    width: 250px;
    height:200px;
    border: 1px solid rgb(148, 87, 12); 
    
}

#main .scale:hover {
    transform: scale(1.5,1)
}


#section .section_div {
    
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
}

#section .section_lista {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    
}

#section .section_lista li {
    padding: 10px;
    margin: 10px;
}

#section .section_link {
    
    text-decoration: none;
    margin-top: 20px;
}

#section .section_p {
    
    text-decoration: none;
    margin-top: 15px;
}